{% extends 'base.html' %}

{% block content %}
	    	<h1 class="container-title">{{ concretize(name) }}'s Profile</h1>

	    	<h2> Registered Courses </h2>
        {% if concretize(courses) != [] %}
		    <table class="table" id="classesTable">
		      <thead>
		        <tr>
		          <th>Course Number</th>
		          <th>Course Name</th>
		          <th>Instructor(s)</th>
		          <th>Current Grade Estimate<th>
		        </tr>
		      </thead>
		      <tbody>
            {% for c in concretize(courses) %}
		        <tr>
		          <td><a href="assignments?course_id={{ c.jeeves_id }}">{{ concretize(c.courseId) }}</a></td>
		          <td>{{ concretize(c.name) }}</td>
		          <td>{% for courseinstructor in concretize(c.instructors) %}
                    {{ concretize(courseinstructor.instructor.name) }}<br>{% endfor %}</td>
		          <td>{{ concretize(c.grade) }}</td>
		        </tr>
            {% endfor %}
		      </tbody>
	    	</table>
        {% endif %}

	    	<br/>
	    	<h2> Recent Assignments </h2>
	    	<table class="table" id="recent-submissions-table">
		      <thead>
		        <tr>
		          <th>Assignment Name</th>
		          <th>Course<th>
		          <th>Submission Date</th>
		          <th>Grade</th>
		        </tr>
		      </thead>
		      <tbody>
		        <tr>
		        	<td><a href="#">Semantics Paper</a></td>
		        	<td>6.803<td>
		        	<td>3/3/2014</td>
		        	<td>B</td>
		        </tr>
		        <tr>
		        	<td><a href="#">Problem Set 4</a></td>
		        	<td>18.440<td>
		        	<td>3/4/2014</td>
		        	<td>N/A</td>
		        </tr>
		      </tbody>
	    	</table>

{% endblock %}
