.imagebox {
  float: left;
  margin-top: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: small;
}

.jumbotron {
  background: url('../img/stata.jpg') no-repeat center center fixed;

  background-size: cover;
        /*height: 800px;*/
        /*padding-bottom: 200px;*/
}

.toptext{
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color:rgba(255,255,255,0.5);
}
