{% extends "base.html" %}

{% block title %}
	Business Associates
{% endblock %}

{% block top %}
	<h2>
		Businesses this entity shared private health information with.
	</h2>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<h2>
				Cloven Intl.
			</h2>
		</div>
		<ul class="nav nav-tabs" data-tabs="tabs">
			<li>
				<a href=".">
					Directory
				</a>
			</li>
			<li>
				<a href="transactions">
					Transactions
				</a>
			</li>
			<li class="active">
				<a href="associates">
					Business Associates
				</a>
			</li>
		</ul>
		<br>
		<table class="table table-striped table-hover">
			<thead>
				<th>
					Entity {% include "invisible.html" %}
				</th>
				<th>
					Information Shared {% include "invisible.html" %}
				</th>
				<th>
					Purpose {% include "invisible.html" %}
				</th>

			</thead>
			{% for associate in associates %}
				<tr>
					<td>
						{% if associate.Entity.ID %}
							<a href='{{ url("entity", associate.Entity.ID) }}'>
								{{ associate.Entity.Name }}
							</a>
						{% else %}
							{{ associate.Entity.Name }}
						{% endif %}
					</td>
					<td>
						{% with info=associate.InformationShared %}
						{{ info.preview }} <a href="#myModal{{ loop.index }}" data-toggle="modal">&hellip;</a>
						{% include "informationModal.html" %}
						{% endwith %}
					</td>
					<td>
						{{ associate.Purpose }}
					</td>

				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}