{{ comment }}
	This page is the base of the HIPAA website. Most webpages inherit from
	this template. The block templates allow each page to add maximized
	customization.
{{ endcomment }}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Jeeves demo conferance management system" />
	<title>
		{% block title %}
			JHealth
		{% endblock %}
	</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ static('css/bootstrap.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <style type="text/css">
	.list-group-item:hover
	{
		background:#f5f5f5;
	}
    .toptext
    {
	    border-radius: 4px;
	}
    </style>
</head>

<body role="document">
  {% include 'navbar.html' %}

  <div class="jumbotron">
    <div class="toptext">
		{% block top %}
      <h2> HIPAA demonstration</h2>
        <p>This site is powered by the Jeeves programming language for automatically enforcing privacy policies. Mouse over <a rel="tooltip" title="Visible to everyone."><span class="glyphicon glyphicon-eye-open"></span></a> and <a rel="tooltip" title="Selectively visible."><span class="glyphicon glyphicon-eye-close"></span></a> for more information about policies!</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/about" onClick="myApp.showPleaseWait();">About This Site &raquo;</a></p>
		{% endblock %}
    </div>
  </div>

  <div class="container">
    {% block content %}Content goes here{% endblock %}
  </div>

  {% include 'footer.html' %}

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="{{ static('js/jquery.min.js') }}"></script>
    <script src="{{ static('js/bootstrap.js') }}"></script>
    <script type="text/javascript">
      var myApp;
myApp = myApp || (function () {
    var pleaseWaitDiv = $('<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><div class="text-center"><img src="{{ static('img/loading.gif') }}"http://www.travislayne.com/images/loading.gif" class="icon" /><h4>Processing... <button type="button" class="close" style="float: none;" data-dismiss="modal" aria-hidden="true">×</button></h4></div></div></div></div></div>');
    return {
        showPleaseWait: function() {
            pleaseWaitDiv.modal();
        },
        hidePleaseWait: function () {
            pleaseWaitDiv.modal('hide');
        },

    };
})();
    </script>

    <script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
    </script>
</body>
    
</html>
