<html><body>
{% extends "base.html" %}

{% block title %}
	Diagnoses
{% endblock %}

{% block top %}
	<h2>Doctors' diagnoses about an individual.</h2>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<h2>
				{{ name }}
			</h2>
		</div>
		<ul class="nav nav-tabs">
			<li><a href=".">Information</a></li>
			<li><a href="treatments">Treatments, Drugs, &amp; Services</a></li>
			<li class="active"><a href="diagnoses">Diagnoses</a></li>
		</ul>
	
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td>
						Date {% include "invisible.html" %}
					</td>
					<td>
						Code {% include "invisible.html" %}
					</td>
					<td>
						Diagnosis {% include "invisible.html" %}
					</td>
					<td>
						Recognized By {% include "invisible.html" %}
					</td>
				</tr>
			</thead>
			{% for d_indx in range(diagnoses|length) %}
				{% with diagnosis=diagnoses[d_indx] %}
					<tr>
						<td>
							{{ diagnosis.DateRecognized }}
						</td>
						<td>
							{{ diagnosis.Manifestation }}
						</td>
						<td>
							{{ diagnosis.Diagnosis }}
						</td>
						<td>
							<a href='{{ url("entity", diagnosis.RecognizingEntity.EIN) }}'>
								{{ diagnosis.RecognizingEntity.Name }}
							</a>
						</td>
					</tr>
				{% endwith %}
			{% endfor %}
		</table>
	</div>
{% endblock %}
</body></html>




