    <link href="{{ static('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ static('css/bootstrap-theme.min.css') }}" rel="stylesheet">
<div class="container">
<div class="page-header">
	<h2>
		John Doe
	</h2>
</div>
<ul class="nav nav-tabs" data-tabs="tabs">
	<li><a href="#info">Information</a></li>
	<li class="active"><a href="#treatment">Treatment, Drugs, & Services</a></li>
	<li><a href="#diagnoses">Diagnoses</a></li>
</ul>

<table class="table table-striped table-hover">
	<thead>
		<th>
			Date
		</th>
		<th>
			Code
		</th>
		<th>
			Performed By
		</th>
		<th>
			Prescribed By
		</th>
	</thead>
	{% for treatment in treatments %}
		<tr>
			<td>
				{{ treatment.DatePerformed }}
			</td>
			<td>
				{{ treatment.Service }}
			</td>
			<td>
				{{ treatment.PerformingEntity }}
			</td>
			<td>
				{{ treatment.PrescribingEntity }}
			</td>
		</tr>
	{% endfor %}
</table>
