{{ comment }}
	I haven't changed this page.
{{ endcomment }}
{% extends 'base.html' %}

{% block content %}
    <form role="form" method="post" action="">{% csrf_token %}
      <h2 class="form-heading">Profile.</h2>
      {% for field in fields %}
      <div class="form-group">
        <label for="{{ field.name }}" class="control-label"><a rel="tooltip" title="{{ field.privacy }}"><span class="glyphicon glyphicon-eye-close"></span></a> {{ field.label }}</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="{{ field.inputtype }}" class="form-control" name="{{ field.name }}" id="{{ field.name }}" value="{{ concretize(field.val) }}" {% if concretize(field.disabled) %}disabled{% endif %}>
          </div>
        </div>
      </div>
      {% endfor %}
      <button class="btn btn-primary" type="submit" value="Save" onClick="myApp.showPleaseWait();">Update</button>
    </form>
{% endblock %}
