{{ comment }}
	This page has all the treatments an individual has received.
{{ endcomment }}
<html><body>
{% extends "base.html" %}

{% block title %}
	Treatment, Drugs, &amp; Services
{% endblock %}

{% block top %}
	<h2>Treatments provided to patient.</h2>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<h2>
				{{ concretize(first_name) }} {{ concretize(last_name) }}
			</h2>
		</div>
		<ul class="nav nav-tabs">
			<li><a href=".">Information</a></li>
			<li class="active"><a href="treatments">Treatments, Drugs, &amp; Services</a></li>
			<li><a href="diagnoses">Diagnoses</a></li>
		</ul>
	
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td>
						Date {% include "invisible.html" %}
					</td>
					<td>
						Code {% include "invisible.html" %}
					</td>
					<td>
						Prescribed By {% include "invisible.html" %}
					</td>
					<td>
						Performed/Provided By {% include "invisible.html" %}
					</td>
				</tr>
			</thead>
			{% for treatment in concretize(treatments) %}
					<tr>
						<td>
							{{ treatment.DatePerformed }}
						</td>
						<td>
							{{ treatment.Service }}
						</td>
						<td>
							<a href='{{ url("entity", treatment.prescribing_entity.ein) }}'>
								{{ treatment.prescribing_entity.name }}
							</a>
						</td>
						<td>
							<a href='{{ url("entity", treatment.performing_entity.ein) }}'>
								{{ treatment.performing_entity.name }}
							</a>
						</td>
					</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
</body></html>
