{% extends 'base.html' %}

{% block content %}
    <h2>User</h2>
    <form method="post" action="" role="form">
        {% csrf_token %}
        <table class="table">
            <tr>
                <th> Name </th>
                <th> E-mail </th>
            {% for profile in concretize(user_profiles) %}
                <tr>
                    <td>
                        {{concretize(profile.name)}}
                    </td>
                    <td>
                        {{concretize(profile.email)}}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary" value="Save">Save</button>
    </form>
{% endblock %}
