body {
	margin: 0px;
}

#nav {
	background-color: gray;
	padding: 5px;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav li {
	display:inline;
	padding-left: 5px;
	padding-right: 5px;
}

#nav a {
	color: white;
}

#content {
	padding-left: 20px;
	padding-top: 10px;
}
