<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Jeeves demo conferance management system" />

  	<title>Jeeves Unchained</title>

    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

</head>
<body>
    <div id="container">
    	<div id="navbar">
			<div id="nav">
				{% include 'navbar.html' %}
			</div>
    	</div>
        <div id="content">
			<div id="loginbar">
				{% if user.is_authenticated %}
					<p>You are logged in as {{ user }}. <a href="/accounts/logout">Log out</a></p>
				{% else %}
                    <p>You are not logged in. <a href="/accounts/login">Log in</a> or <a href="/register">Register</a></p>
				{% endif %}
			</div>
			{% block content %}Content goes here{% endblock %}
        </div>
    </div>
</body>

</html>
