<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Jeeves demo conferance management system" />

  	<title>JeevesConf</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ static('css/bootstrap-theme.min.css') }}" rel="stylesheet">

    <link href="{{ static('css/sticky-footer-navbar.css') }}" rel="stylesheet">
    <link href="{{ static('css/modal.css') }}" rel="stylesheet">
    <link href="{{ static('css/custom.css') }}" rel="stylesheet">
</head>

<body role="document">
  {% include 'navbar.html' %}

  <div class="jumbotron">
    <h1>Jeeves Conf</h1>
    <p>A conference management system powered by the Jeeves programming language for automatically enforcing privacy policies.</p>
  </div>

  <div class="container">
    <div class="alert alert-info">
	  {% if is_logged_in %}
				<p>You are logged in as {{ user }}. <a href="/accounts/logout">Log out</a></p>
		{% else %}
        <p>You are not logged in. <a href="/accounts/login">Log in</a> or <a href="/register">Register</a></p>
		{% endif %}
    </div>
    
    {% block content %}Content goes here{% endblock %}
  
  </div>

  {% include 'footer.html' %}

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ static('js/bootstrap.min.js') }}"></script>
</body>
    <script>
      var myApp;
myApp = myApp || (function () {
    var pleaseWaitDiv = $('<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><div class="text-center"><img src="http://www.travislayne.com/images/loading.gif" class="icon" /><h4>Processing...</h4></div></div></div></div></div>');
    return {
        showPleaseWait: function() {
            pleaseWaitDiv.modal();
        },
        hidePleaseWait: function () {
            pleaseWaitDiv.modal('hide');
        },

    };
})();
    </script>

    <script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
    </script>
</html>
