{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
      <h1>Welcome {{ concretize(name) }}.</h1>
    </div>

    {% if concretize(paper_data) != [] %}
        <p>Please e-mail Jean Yang (jeanyang [at] mit [dot] edu) to withdraw a paper.</p>
        <table class="table">
            <tr>
                <th> Author </th>
                <th> Title </th>
            </tr>
            {% for p in concretize(paper_data) %}
                {% if concretize(p.paper.author) != None %}
                <tr>
                    <td>
                        {{concretize(p.paper.author.name)}}
                    </td>
                    <td> <a href="/paper?id={{concretize(p.paper.jeeves_id)}}">
                        {% if concretize(p.latest) != None %}
                            {{concretize(p.latest.title)}}
                        {% else %}
                            [Hidden]
                        {% endif %}
                    </a> </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% else %}
        No papers to display.
    {% endif %}
{% endblock %}
