{% extends 'base.html' %}

{% block content %}
    {% if paper != None %}
        <div>
            <h3> Authors </h3>
            <ul>
                <li>
                    <div> {{concretize(author.name)}} </div>
                </li>
                {% for coauthor in concretize(coauthors) %}
                    <li>
                        <div> {{concretize(coauthor.author)}} </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3> Title </h3>
            <div>
                {{concretize(latest_title)}}
            </div>
        </div>
        <div>
            <h3> Versions </h3>
            <ul>
                {% for paper_version in concretize(paper_versions) %}
                    <a href="{{concretize(paper_version.contents.url)}}">
                        {{concretize(paper_version.time)}}
                    </a>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3> Abstract </h3>
            <pre>{{concretize(latest_abstract)}}</pre>
        </div>
        <div>
            <h3> Reviews </h3>
            <ul>
                {% for review in concretize(reviews) %}
                    <li>
                        <div> {{concretize(review.reviewer.username)}} at {{concretize(review.time)}} </div>
                        <div> Comment: <pre>{{concretize(review.contents)}}</pre> </div>
                        <div> Novelty: {{concretize(review.score_novelty)}} </div>
                        <div> Presentation: {{concretize(review.score_presentation)}} </div>
                        <div> Technical: {{concretize(review.score_technical)}} </div>
                        <div> Confidence: {{concretize(review.score_confidence)}} </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h3> Comments </h3>
            <ul>
                {% for comment in concretize(comments) %}
                    <li>
                        <div> {{concretize(comment.user.username)}} at {{concretize(comment.time)}} </div>
                        <div> Comment: <pre>{{concretize(comment.contents)}}</pre> </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!--
        <div>
            <a href="/submit_review?id={{concretize(paper.jeeves_id)}}">Submit review</a>
        </div>
        -->

        <form method="post" action="">
            {% csrf_token %}
            Leave a comment: <br />
            <input type="hidden" name="add_comment" value="true" />
            <textarea name="comment"></textarea>
            <input type="submit" value="Submit" />
        </form>

        <form method="post" action="">
            {% csrf_token %}
            Leave a review: <br />
            <input type="hidden" name="add_review" value="true" />
            <textarea name="review"></textarea>
            <input type="submit" value="Submit" />

            Novelty:
            <select name="score_novelty">
                <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option>
            </select><br />

            Presentation:
            <select name="score_presentation">
                <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option>
            </select><br />

            Technical:
            <select name="score_technical">
                <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option>
            </select><br />

            Confidence:
            <select name="score_confidence">
                <option value="1">1</option> <option value="2">2</option> <option value="3">3</option> <option value="4">4</option> <option value="5">5</option> <option value="6">6</option> <option value="7">7</option> <option value="8">8</option> <option value="9">9</option> <option value="10">10</option>
            </select><br />
        </form>

    {% else %}
        Not found. The planets must not be aligned correctly, or perhaps no paper with the given 'id' exists.
    {% endif %}
{% endblock %}
