{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
      <h1>Profile.</h1>
    </div>
    <form method="post" action="">
    	{% csrf_token %}
    	<table>
            <tr>
                <td> Name: </td>
                <td> <input type="text" name="name" value="{{ concretize(name) }}" /> </td>
                <td><a rel="tooltip" title="Visible to everyone."><span class="glyphicon glyphicon-eye-open"></span></td>
            </tr>
            <tr>
                <td> Affiliation: </td>
                <td> <input type="text" name="affiliation" value="{{concretize(affiliation)}}" /> </td>
                <td><a rel="tooltip" title="Visible to everyone."><span class="glyphicon glyphicon-eye-open"></span></td>
            </tr>
            <tr>
                <td> ACM Number: </td>
                <td> <input type="text" name="acm_number" value="{{concretize(acm_number)}}" /> </td>
                <td><a rel="tooltip" title="Visible to the PC chair."><span class="glyphicon glyphicon-eye-close"></span></td>
            </tr>
            <tr>
                <td> PC Conflicts: </td>
                <td>
                    {% for pc in concretize(pcs) %}
                        <input type="checkbox" name="pc_conflicts[]" value="{{concretize(pc.username)}}"
                            {% if concretize(pc) in concretize(pc_conflicts) %} checked {% endif %} />
                        <label> {{ concretize(pc.username) }} </label> <br />
                    {% endfor %}
                </td>
                <td><a rel="tooltip" title="Visible to the PC chair."><span class="glyphicon glyphicon-eye-close"></span></td>
            </tr>
    	</table>
        <input type="submit" value="Save" />
    </form>
{% endblock %}
