{% extends 'base.html' %}

{% block content %}
    <h2>Submit a paper</h2>
    {% if concretize(error) != "" %}
        <div> {{concretize(error)}} </div>
    {% endif %}
    <form method="post" action="" enctype="multipart/form-data">
    	{% csrf_token %}
    	<table>
    	    <tr>
    	        <td> Coauthors </td>
    	        <td>
                    {% for coauthor in concretize(coauthors) %}
                        <div> <input type="text" name="coauthors[]" value="{{coauthor}}" /> </div> 
                    {% endfor %}
                    {% for i in range(3 - concretize(coauthors).__len__()) %}
                        <div> <input type="text" name="coauthors[]" value="" /> </div> 
                    {% endfor %}
                </td>
                <td><a rel="tooltip" title="Visible to the authors, PC chair, and reviewers after reviews have been submitted."><span class="glyphicon glyphicon-eye-close"></span></td>
    	    </tr>
    	    <tr>
    	        <td> Title </td>
    	        <td> <input type="text" name="title" value="{{title}}" /> </td>
              <td><a rel="tooltip" title="Visible to the authors and program committee."><span class="glyphicon glyphicon-eye-close"></span></td>
    	    </tr>
    	    <tr>
    	        <td> Paper (pdf) </td>
    	        <td> <input type="file" name="contents" value="{{contents}}" /> </td>
              <td><a rel="tooltip" title="Visible to the authors and program committee."><span class="glyphicon glyphicon-eye-close"></span></td>
    	    </tr>
    	    <tr>
    	        <td> Abstract </td>
    	        <td> <textarea name="abstract" rows="10" cols="40">{{abstract}}</textarea> </td>
              <td><a rel="tooltip" title="Visible to the authors and program commitee."><span class="glyphicon glyphicon-eye-close"></span></td>
    	    </tr>
    	    <tr>
    	        <td> PC Conflicts: </td>
                <td>
                    {% for pc in concretize(pcs) %}
                        <input type="checkbox" name="pc_conflicts[]" value="{{concretize(pc.username)}}"
                            {% if concretize(pc) in concretize(pc_conflicts) %} checked {% endif %} />
                        <label> {{ concretize(pc.username) }} </label> <br />
                    {% endfor %}
                </td>
                <td><a rel="tooltip" title="Visible to the PC chair."><span class="glyphicon glyphicon-eye-close"></span></td>
    	    </tr>
		</table>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
