{% extends 'base.html' %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <table>
            {% for profile in concretize(user_profiles) %}
                <tr>
                    <td>
                        {{concretize(profile.name)}}
                    </td>
                    <td>
                        {{concretize(profile.affiliation)}}
                    </td>
                    <td>
                        {{concretize(profile.user.username)}}
                    </td>
                    <td>
                        {{concretize(profile.user.email)}}
                    </td>
                    <td>
                        <input type="radio" name="level-{{concretize(profile.user.username)}}" value="normal"
                                {% if concretize(profile.level) == 'normal' %} checked {% endif %} />
                        Author <br />
                        <input type="radio" name="level-{{concretize(profile.user.username)}}" value="pc"
                                {% if concretize(profile.level) == 'pc' %} checked {% endif %} />
                        PC <br />
                        <input type="radio" name="level-{{concretize(profile.user.username)}}" value="chair"
                                {% if concretize(profile.level) == 'chair' %} checked {% endif %} />
                        Chair <br />
                    </td>
                    </td>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Save" />
    </form>
{% endblock %}
